body {
	font-family: Arial, sans-serif;
	font-size: 1rem;
	line-height: 1.5;
}

.site-container {
	padding: 0 20px;
	margin: 0 auto;
	width: 100%;
}

.nav {
	margin: 1rem 0;

	ul {
		list-style-position: inside;
	}
}

#nav,
#nav2 {
	display: none;

	&.active {
		display: block;
	}
}